@model X.PagedList.IPagedList<OcorrenciasDP.ViewModels.UsuariosViewModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using OcorrenciasDP.Library.Globalization;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Usuários";
}

@{
    string nome;
    int setor, loja;

    if (ViewBag.PesquisaNome != null)
    {
        nome = ViewBag.PesquisaNome;
    }
    else
    {
        nome = "";
    }

    if (ViewBag.PesquisaLoja != null)
    {
        loja = int.Parse(ViewBag.PesquisaLoja);
    }
    else
    {
        loja = 0;
    }

    if (ViewBag.PesquisaSetor != null)
    {
        setor = int.Parse(ViewBag.PesquisaSetor);
    }

    else
    {
        setor = 0;
    }

}
@if (TempData["CadastroUserOK"] != null)//Cadastro de Usuário OK
{
    <div class="alert alert-success" role="alert">
        @TempData["CadastroUserOK"]
    </div>
}
@if (TempData["UsuarioExcluido"] != null)//Exclusão de Usuário OK
{
    <div class="alert alert-danger" role="alert">
        @TempData["UsuarioExcluido"]
    </div>
}
@if (TempData["UsuarioErro"] != null)//Erro ao Excluir,Alterar Usuário
{
    <div class="alert alert-danger" role="alert">
        @TempData["UsuarioErro"]
    </div>
}
@if (TempData["CadastroUserNotOK"] != null)//Erro ao cadastrar o Usuário
{
    <div class="alert alert-danger" role="alert">
        @TempData["CadastroUserNotOK"]
    </div>
}

<h2>Usuários</h2>
<br />

<div style="display:flex; justify-content:flex-end">
    <a href="/OcorrenciasDP/Usuarios/Cadastrar" class="btn btn-success">
        Cadastrar Novo
    </a>
</div>

<form class="form-inline" method="get" action="/OcorrenciasDP/Usuarios/Filtrar">
    <div class="form-group mb-2">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control-plaintext" id="nome" value="@nome">
    </div>
    <div class="form-group p-2">
        <label for="loja">Loja</label>
        <select name="loja" id="loja" class="form-control mb-2">
            @foreach (var loja2 in ViewBag.Lojas)
            {
                if (loja2.Id == loja)
                {
                    <option value="@loja2.Id" selected>@loja2.Nome</option>
                }
                else
                {
                    <option value="@loja2.Id">@loja2.Nome</option>
                }
            }
        </select>
    </div>

    <div class="form-group p-2">
        <label for="setor">Setor</label>
        <select name="setor" id="setor" class="form-control mb-2">
            @foreach (var depto in ViewBag.Setores)
            {
                if (depto.Id == setor)
                {
                    <option value="@depto.Id" selected>@depto.Nome</option>
                }
                else
                {
                    <option value="@depto.Id">@depto.Nome</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    <button type="reset" class="btn btn-default">Limpar Tela</button>
</form>

<br />

<div style="display: flex;justify-content:flex-end">
    <b>Total de Resultados: @Model.TotalItemCount </b>
</div>

<table class="table table-hover" style="padding-top: 15px">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Login</th>
            <th scope="col">Nome</th>
            <th scope="col">Loja</th>
            <th scope="col">Setor</th>
            <th scope="col">Perfil</th>
            <th scope="col">Último Acesso</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Login.ToLower()</td>
                <td>@user.Nome</td>
                <td>@user.Loja</td>
                <td>@user.Setor</td>
                @if (user.Perfil == "admin")
                {
                    <td>Administrador</td>
                }
                else if (user.Perfil == "usuario")
                {
                    <td>Usuário</td>
                }
                else
                {
                    <td>@user.Perfil</td>
                }

                <td>@Globalization.DataHoraCurtaBR(user.UltimoAcesso)</td>

                <td>

                    <a href="/OcorrenciasDP/Usuarios/Atualizar/@user.Id/" class="btn btn-warning btn-sm">
                        Alterar
                    </a>

                    <a href="/OcorrenciasDP/Usuarios/Excluir/@user.Id/" onclick="return confirmaApagar();" on class="btn btn-danger btn-sm">
                        Excluir
                    </a>

                </td>
            </tr>
        }

    </tbody>
</table>

@if (nome != "" || setor != 0 || loja != 0)
{

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Filtrar", new { nome, setor, loja, page }))

}
else
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
}

@section Scripts{
    <script language="javascript">
        function confirmaApagar() {
            return confirm("Confirma Exclusão?");
        }
    </script>
}