@model OcorrenciasDP.Models.Ocorrencia
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ocorrências";
    string nome_login = Context.Session.GetString("Login");
    string setor_login = Context.Session.GetString("Setor");
}


@if (TempData["MsgOcorrenciaOK"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MsgOcorrenciaOK"]
    </div>
}

@{
    string data1;

    if (ViewBag.Ocorrencia != null)
    {
        data1 = ViewBag.Ocorrencia.Data.ToString("yyyy-MM-dd");
    }
    else
    {
        data1 = DateTime.Now.ToString("yyyy-MM-dd");
    }
}
@if (TempData["MsgOcorrenciaNotOK"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["MsgOcorrenciaNotOK"], <button id="botaoupdate" onclick="return btnEnviar.click();" class="alert-link">Clique aqui</button> para enviar outra ocorrência.
        @{
            ViewBag.UpdateOcor = "true";
        }
    </div>
}
else

{
    ViewBag.UpdateOcor = "false";
}

<h2>Inclusão de Ocorrência</h2>
<br />

<form method="post" action="\ocorrencia\index\" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@ViewBag.Ocorrencia.Id" />
    <div class="form-row">
        <div class="form-group col-md-auto">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="usuario" value="@nome_login" placeholder="" readonly>
        </div>
        <div class="form-group col-md-auto">
            <label for="setor">Setor</label>
            <input type="text" name="setor" class="form-control" id="setor" value="@setor_login" placeholder="" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="date" name="data" value="@data1" class="form-control" id="data">
        @Html.ValidationMessage("data")
    </div>

    <div class="form-group">
        <label for="descricao">Ocorrência</label>
        <textarea class="form-control" name="descricao" id="descricao" rows="5">@ViewBag.Ocorrencia.Descricao</textarea>
        @Html.ValidationMessage("descricao")
    </div>

    <div class="custom-file">
        <input type="file" class="custom-file-input" value="@ViewBag.Ocorrencia.Anexo" name="anexo" id="anexo" lang="pt-br">
        <label class="custom-file-label" for="anexo">Selecionar Arquivo</label>
        @Html.ValidationMessage("arquivo")
    </div>
    <button type="submit" class="btn btn-primary" id="botaoenviar">Enviar</button>
</form>

@section Scripts{
    <script language="javascript">
    
    var btnUpdate = document.getElementById("botaoupdate");
    var btnEnviar = document.getElementById("botaoenviar");

    function MudarVariavel() {
        var vbUpdate;

        if (vbUpdate == "false" || vbUpdate == null) {
        
           vbUpdate == "true"
           btnEnviar.click();
        
        } else {
        
        }
        @(ViewBag.Update) == vbUpdate;
    
    }
    
    btnUpdate.onclick(MudarVariavel());
    
    </script>

}
