@model OcorrenciasDP.Models.Ocorrencia
@using Microsoft.AspNetCore.Http;
@using OcorrenciasDP.Library.Globalization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ocorrências";
    string nome_login = Context.Session.GetString("Login");
    string setor_login = Context.Session.GetString("Setor");
}

@{
    string data1, update;
    DateTime agora = Globalization.HoraAtualBR();

    update = "false";

    if (ViewBag.Ocorrencia != null)
    {
        data1 = ViewBag.Ocorrencia.Data.ToString("yyyy-MM-dd");
    }
    else
    {
        if (ViewBag.Calendario == null)
        {
            data1 = Globalization.HoraAtualBR().ToString("yyyy-MM-dd");
        }
        else
        {
            data1 = DateTime.Parse(ViewBag.Calendario.Last());
        }
    }
}
@if (TempData["MsgOcorrenciaOK"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MsgOcorrenciaOK"]
    </div>
}

@if (TempData["MsgOcorrenciaNotOK"] != null)
{
    <div class="alert alert-warning" role="alert">
        <b>@TempData["MsgOcorrenciaNotOK"],<button type="button" class="btn btn-warning" onclick="return mudarVariavel();">Clique aqui</button> se  confirma o envio (<span class="glyphicon glyphicon-info-sign"></span>Você deverá inserir o anexo novamente).</b>
    </div>
}

@if (TempData["MsgOcorrenciaNotOK2"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MsgOcorrenciaNotOK2"]
    </div>
}


@if (TempData["MsgOcorrenciaAlerta"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MsgOcorrenciaAlerta"]
    </div>
}

<h2>Inclusão de Ocorrência</h2>
<br />

<form method="post" action="\OcorrenciasDP\Ocorrencia\Index\" enctype="multipart/form-data">

    <input type="hidden" id="update" name="update" value="@update" />
    <input type="hidden" name="id" value="@ViewBag.Ocorrencia.Id" />
    <input type="hidden" name="ativo" value="1" />

    <div class="form-row">
        <div class="form-group col-md-auto" style="width:50%">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="usuario" value="@nome_login" readonly>
        </div>
        <div class="form-group col-md-auto" style="width:50%">
            <label for="setor">Setor</label>
            <input type="text" name="setor" class="form-control" id="setor" value="@setor_login" readonly>
        </div>
    </div>

    <div class="form-group" style="width:50%">
        <label for="data">Data</label>
        <input type="date" name="data" value="@data1" class="form-control" id="data">
        <strong style="color:#FF0000">@Html.ValidationMessage("data")</strong>
    </div>

    <br />

    <!-- Experiencia -->
    @if (ViewBag.Experiencia != null)
    {
        @foreach (var exp in ViewBag.Experiencia)
        {
            <b>Nome: </b>
            @exp.Nome

            <b>Data Início:</b>
            @exp.Data

            <div style="border:thin;border-color:black;border-collapse:initial">

                <strong>Nota: </strong>
                <input type="range" />
                <strong>Avaliação: </strong>
                <textarea class="form-control" name="exp_cod" placeholder="Digite a Avaliação do Funcionário..." required></textarea>

                <br />
            </div>

        }
    }

    <!--Radio - Atrasado-->
    <div style="display:flex;flex-direction:row;align-items:flex-start;">
        <div style="width:40%;">
            <label>
                Algum colaborador chegou atrasado?
            </label>
        </div>

        <div style="display:flex;justify-content:space-around;width:25%;align-items:flex-start">
            @if (ViewBag.Ocorrencia.Atrasado == 1)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="atrasado" id="atrasado_sim" value="1" checked required onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="atrasado_sim">Sim</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="atrasado" id="atrasado_sim" value="1" required onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="atrasado_sim">Sim</label>
                </div>
            }
            @if (ViewBag.Ocorrencia.Atrasado == 0)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="atrasado" id="atrasado_nao" value="0" checked onclick="return esconderTextArea();">
                    <label class="form-check-label" for="atrasado_nao">Não</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="atrasado" id="atrasado_nao" value="0" onclick="return esconderTextArea();">
                    <label class="form-check-label" for="atrasado_nao">Não</label>
                </div>
            }
        </div>
    </div>

    <!--Radio - Cedo -->
    <div style="display:flex;flex-direction:row;align-items:flex-start;">
        <div style="width:40%;">
            <label>
                Algum colaborador saiu mais cedo?
            </label>
        </div>

        <div style="display:flex;justify-content:space-around;width:25%;align-items:flex-start">
            @if (ViewBag.Ocorrencia.Cedo == 1)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="cedo" id="cedo_sim" value="1" checked required onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="cedo_sim">Sim</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="cedo" id="cedo_sim" value="1" required onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="cedo_sim">Sim</label>
                </div>
            }
            @if (ViewBag.Ocorrencia.Cedo == 0)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="cedo" id="cedo_nao" value="0" checked onclick="return esconderTextArea();">
                    <label class="form-check-label" for="cedo_nao">Não</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="cedo" id="cedo_nao" value="0" onclick="return esconderTextArea();">
                    <label class="form-check-label" for="cedo_nao">Não</label>
                </div>
            }
        </div>
    </div>

    <!--Radio - Advertência-->
    <div style="display:flex;flex-direction:row;align-items:flex-start;">
        <div style="width:40%;">
            <label>
                Algum colaborador foi advertido verbalmente?
            </label>
        </div>

        <div style="display:flex;justify-content:space-around;width:25%;align-items:flex-start">
            @if (ViewBag.Ocorrencia.Advertencia == 1)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="advertencia" id="advertencia_sim" checked required value="1" onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="advertencia_sim">Sim</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="advertencia" id="advertencia_sim" required value="1" onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="advertencia_sim">Sim</label>
                </div>
            }

            @if (ViewBag.Ocorrencia.Advertencia == 0)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="advertencia" id="advertencia_nao" checked value="0" onclick="return esconderTextArea();">
                    <label class="form-check-label" for="advertencia_nao">Não</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="advertencia" id="advertencia_nao" value="0" onclick="return esconderTextArea();">
                    <label class="form-check-label" for="advertencia_nao">Não</label>
                </div>
            }
        </div>
    </div>

    <!--Radio - Acidente-->
    <div style="display:flex;flex-direction:row;align-items:flex-start;">
        <div style="width:40%;">
            <label>
                Algum colaborador se acidentou durante o trabalho?
            </label>
        </div>

        <div style="display:flex;justify-content:space-around;width:25%;align-items:flex-start">
            @if (ViewBag.Ocorrencia.Acidente == 1)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="acidente" id="acidente_sim" required value="1" checked onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="acidente_sim">Sim</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="acidente" id="acidente_sim" required value="1" onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="acidente_sim">Sim</label>
                </div>
            }

            @if (ViewBag.Ocorrencia.Acidente == 0)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="acidente" id="acidente_nao" value="0" checked onclick="return esconderTextArea();">
                    <label class="form-check-label" for="acidente_nao">Não</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="acidente" id="acidente_nao" value="0" onclick="return esconderTextArea();">
                    <label class="form-check-label" for="acidente_nao">Não</label>
                </div>
            }
        </div>
    </div>

    <!--Radio - Outro-->
    <div style="display:flex;flex-direction:row;align-items:flex-start;">
        <div style="width:40%;">
            <label>
                Deseja adicionar alguma ocorrência?
            </label>
        </div>

        <div style="display:flex;justify-content:space-around;width:25%;align-items:flex-start">

            @if (ViewBag.Ocorrencia.Outro == 1)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="outro" id="outra_sim" value="1" checked required onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="outra_sim">Sim</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="outro" id="outra_sim" value="1" required onclick="return mostrarTextArea();">
                    <label class="form-check-label" for="outra_sim">Sim</label>
                </div>
            }

            @if (ViewBag.Ocorrencia.Outro == 0)
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="outro" id="outra_nao" value="0" checked onclick="return esconderTextArea();">
                    <label class="form-check-label" for="outra_nao">Não</label>
                </div>
            }
            else
            {
                <div class="form-check input-group">
                    <input class="form-check-input" type="radio" name="outro" id="outra_nao" value="0" onclick="return esconderTextArea();">
                    <label class="form-check-label" for="outra_nao">Não</label>
                </div>
            }
        </div>
    </div>

    <br />
    <div class="form-group" id="textarea_descricao" hidden>
        <label for="descricao">Ocorrência</label>
        <textarea class="form-control" name="descricao" id="descricao" rows="5" placeholder="Descreva a ocorrência aqui...">@ViewBag.Ocorrencia.Descricao</textarea>
        <strong style="color:#FF0000">@Html.ValidationMessage("descricao")</strong>
    </div>

    <div class="custom-file">
        <input type="file" class="custom-file-input" value="@ViewBag.Anexo" name="anexo" id="anexo" lang="pt-br">
        <label class="custom-file-label" for="anexo">Selecionar Arquivo</label>
        <strong style="color:#FF0000">@Html.ValidationMessage("arquivo")</strong>
    </div>

    <button type="submit" class="btn btn-primary" id="botaoenviar">Enviar</button>

</form>

<!--####### Seleciona as últimas 30 ocorrências enviadas para o calendário-->

@if (ViewBag.Calendario != null)
{
    @if (ViewBag.Calendario.Count > 0)
    {
        <h3>Faltam enviar as seguintes ocorrências: </h3>

        <div style="display:block;width:75%">


            @{
                List<DateTime> dias = ViewBag.Calendario;
            }

            @if (dias.Count > 3)
            {
                List<DateTime> dias3Primeiros = dias.GetRange(0, 3);
                dias.RemoveRange(0, 3);

                foreach (var day in dias3Primeiros)
                {
                    <button class="btn-group btn-danger" id="@day.ToString("yyyy-MM-dd")"
                            onclick="return document.getElementById('data').setAttribute('value',this.id)"
                            value="@day.ToString("yyyy-MM-dd")">
                        @Globalization.DataCurtaBR(day)
                    </button>
                }

                foreach (var day in dias)
                {
                    <button class="btn-group btn-default" id="@day.ToString("yyyy-MM-dd")"
                            onclick="return document.getElementById('data').setAttribute('value',this.id)"
                            value="@day.ToString("yyyy-MM-dd")" disabled>
                        @Globalization.DataCurtaBR(day)
                    </button>
                }
            }
            else
            {
                foreach (var day in dias)
                {
                    <button class="btn-group btn-danger" id="@day.ToString("yyyy-MM-dd")"
                            onclick="return document.getElementById('data').setAttribute('value',this.id)"
                            onloadstart="return document.getElementById('data').setAttribute('disabled','false')"
                            value="@day.ToString("yyyy-MM-dd")">
                        @Globalization.DataCurtaBR(day)
                    </button>
                }
            }
            <!--  ANTIGO
            foreach (var dia in ViewBag.Calendario)
            {

            <button class="btn-group btn-danger" id="dia.ToString("yyyy-MM-dd")"
                    onclick="return document.getElementById('data').setAttribute('value',this.id)"
                    value="dia.ToString("yyyy-MM-dd")">
                Globalization.DataCurtaBR(dia)
            </button>


            }
                 -->

        </div>
    }
}

<!--##########-->

@section Scripts{
    <script language="javascript">

        function mudarVariavel() {
            document.getElementById("update").setAttribute("value", "true"); //Altera o value para true
            document.getElementById("botaoenviar").click();  //Enviar a ocorrencia
        }

        //Usar Calendário DataPicker com JavaScript para adicionar eventos
        function incluirCalendario() {
            var calend = document.getElementById("calendario");
        }

        //Controle das Opções do Questionário

        var descricao = document.getElementById("textarea_descricao"); //Div
        var descricao_text = document.getElementById("descricao"); //Input Text Area

        var atrasado = document.getElementById("atrasado_sim");
        var cedo = document.getElementById("cedo_sim");
        var advertencia = document.getElementById("advertencia_sim");
        var acidente = document.getElementById("acidente_sim");
        var outra = document.getElementById("outra_sim");
        //var experiencia = document.getElementById("experiencia_sim");

        var atrasado2 = document.getElementById("atrasado_nao");
        var cedo2 = document.getElementById("cedo_nao");
        var advertencia2 = document.getElementById("advertencia_nao");
        var acidente2 = document.getElementById("acidente_nao");
        var outra2 = document.getElementById("outra_nao");
        //var experiencia2 = document.getElementById("experiencia_nao");

        var data = document.getElementById("data");

        function mostrarTextArea() {
            if (atrasado.checked == true || cedo.checked == true || advertencia.checked == true || acidente.checked == true || outra.checked == true) {
                descricao.hidden = false; //Mostra a Div
                descricao_text.required = true; //Deixa como Obrigatório
            }
        }

        function esconderTextArea() {
            if (atrasado2.checked == true && cedo2.checked == true && advertencia2.checked == true && acidente2.checked == true && outra2.checked == true) {
                descricao.hidden = true; //Esconde a Div
                descricao_text.required = false; //Deixa como não Obrigatório
            }
        }

        function mostraAlerta() {
            alert("Você possui ocorrencias à serem entregas");
        }

        function trocarData() {

        }

    </script>

}
