@model OcorrenciasDP.Models.Ocorrencia
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ocorrências";
    string nome_login = Context.Session.GetString("Login");
    string setor_login = Context.Session.GetString("Setor");
}
@{
    string update;

    update = "false";
}


@if (TempData["MsgOcorrenciaOK"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MsgOcorrenciaOK"]
    </div>
}

@{
    string data1;

    if (ViewBag.Ocorrencia != null)
    {
        data1 = ViewBag.Ocorrencia.Data.ToString("yyyy-MM-dd");
    }
    else
    {
        data1 = DateTime.Now.ToString("yyyy-MM-dd");
    }
}
@if (TempData["MsgOcorrenciaNotOK"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["MsgOcorrenciaNotOK"],<button type="button" class="btn btn-warning" onclick="return mudarVariavel();">Clique aqui</button> se  confirma o envio (<span class="glyphicon glyphicon-info-sign"></span>Você deverá inserir o anexo novamente).
    </div>
}
@if (TempData["MsgOcorrenciaNotOK2"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MsgOcorrenciaNotOK2"]
    </div>
}


<h2>Inclusão de Ocorrência</h2>
<br />

<form method="post" action="\ocorrencia\index\" enctype="multipart/form-data">

    <input type="hidden" id="update" name="update" value="@update" />
    <input type="hidden" name="id" value="@ViewBag.Ocorrencia.Id" />

    <div class="form-row">
        <div class="form-group col-md-auto">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="usuario" value="@nome_login" placeholder="" readonly>
        </div>
        <div class="form-group col-md-auto">
            <label for="setor">Setor</label>
            <input type="text" name="setor" class="form-control" id="setor" value="@setor_login" placeholder="" readonly>
        </div>
    </div>

    <div class="form-group">
        <label for="data">Data</label>
        <input type="date" name="data" value="@data1" class="form-control" id="data">
        <strong style="color:#FF0000">@Html.ValidationMessage("data")</strong>
    </div>

    <div class="form-group">
        <label for="descricao">Ocorrência</label>
        <textarea class="form-control" name="descricao" id="descricao" rows="5">@ViewBag.Ocorrencia.Descricao</textarea>
        <strong style="color:#FF0000">@Html.ValidationMessage("descricao")</strong>
    </div>

    <div class="custom-file">
        <input type="file" class="custom-file-input" value="@ViewBag.Anexo" name="anexo" id="anexo" lang="pt-br">
        <label class="custom-file-label" for="anexo">Selecionar Arquivo</label>
        <strong style="color:#FF0000">@Html.ValidationMessage("arquivo")</strong>
    </div>

    <button type="submit" class="btn btn-primary" id="botaoenviar">Enviar</button>
</form>

@section Scripts{
    <script language="javascript">

        function mudarVariavel() {

            document.getElementById("update").setAttribute("value", "true"); //Altera o value para true
            document.getElementById("botaoenviar").click();  //Enviar a ocorrencia
        }

    </script>

}
