@model OcorrenciasDP.Models.OcorrenciaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detalhar Ocorrência";
}

@{
    string datafim, datainico;
    string setor, pagina;

    if(ViewBag.PaginaRelat != null)
    {
        pagina = "page=" + ViewBag.PaginaRelat;
    }
    else
    {
        pagina = "page=1";
    }

    if (ViewBag.SetorRelat != null)
    {
        setor = "&setor=" + ViewBag.SetorRelat;
    }
    else
    {
        setor = "&setor=0";
    }


    if (ViewBag.DataInicioRelat != null)
    {
        datainico = "&datainicio=" + ViewBag.DataInicioRelat.Date.ToString("yyyy-MM-dd");
    }
    else
    {
        datainico = "";
    }

    if (ViewBag.DataFimRelat != null)
    {
        datafim = "&datafim=" + ViewBag.DataFimRelat.Date.ToString("yyyy-MM-dd");
    }
    else
    {
        datafim = "";
    }

}

<div>
    <a href="/Relatorio/Filtrar?@pagina@setor@datafim@datainico" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
</div>
<h2>Detalhes da Ocorrência</h2>
<br />

<div>
    <strong>#ID: </strong> @Model.Id
</div>

<br />

<div>
    <strong>Data: </strong>
    @Model.Data.Date.ToLongDateString()
</div>

<br />

<div>
    <strong>Nome: </strong>
    @Model.Nome
</div>
<br />

<div>
    <strong>Setor: </strong>
    @Model.Setor
</div>
<br />

<div >
    <strong>Descrição: </strong>
    @Model.Descricao
</div>

<br />

<div >
    <strong>Anexo: </strong>
    <a href="\Relatorio\Download?filename=@string.Concat(Model.Id.ToString(),"_",Model.Anexo)">@Model.Anexo</a>
</div>

