@model OcorrenciasDP.Models.OcorrenciaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detalhar Ocorrência";
}

@{
    string datafim, datainico;
    string setor, pagina;
    string acidente, atrasado, cedo, outro, advertencia;

    if (ViewBag.PaginaRelat != null)
    {
        pagina = "page=" + ViewBag.PaginaRelat;
    }
    else
    {
        pagina = "page=1";
    }

    if (ViewBag.SetorRelat != null)
    {
        setor = "&setor=" + ViewBag.SetorRelat;
    }
    else
    {
        setor = "&setor=0";
    }


    if (ViewBag.DataInicioRelat != null)
    {
        datainico = "&datainicio=" + ViewBag.DataInicioRelat.Date.ToString("yyyy-MM-dd");
    }
    else
    {
        datainico = "";
    }

    if (ViewBag.DataFimRelat != null)
    {
        datafim = "&datafim=" + ViewBag.DataFimRelat.Date.ToString("yyyy-MM-dd");
    }
    else
    {
        datafim = "";
    }

    if (Model.Atrasado == 1)
    {
        atrasado = "<font color='red'><b> Sim</b></font>";
    }
    else
    {
        atrasado = " Não";
    }

    if (Model.Advertencia == 1)
    {
        advertencia = "<font color='red'><b> Sim</b></font>";
    }
    else
    {
        advertencia = " Não";
    }

    if (Model.Acidente == 1)
    {
        acidente = "<font color='red'><b> Sim</b></font>";
    }
    else
    {
        acidente = " Não";
    }

    if (Model.Cedo == 1)
    {
        cedo = "<font color='red'><b> Sim</b></font>";
    }
    else
    {
        cedo = " Não";
    }

    if (Model.Outro == 1)
    {
        outro = "<font color='red'><b> Sim</b></font>";
    }
    else
    {
        outro = " Não";
    }

}

<br />

<div>
    <a href="javascript:window.history.go(-1)" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
</div>

<h2>Detalhes da Ocorrência</h2>

<br />

<div>
    <strong>#ID: </strong> @Model.Id
</div>

<br />

<div>
    <strong>Data: </strong>
    @Model.Data.Date.ToLongDateString()
</div>

<br />

<div>
    <strong>Nome: </strong>
    @Model.Nome
</div>
<br />

<div>
    <strong>Setor: </strong>
    @Model.Setor
</div>
<br />

<div>
    <strong>
        Algum colaborador chegou atrasado?
    </strong>
    @Html.Raw(atrasado)
</div>

<br />
<div>
    <strong>
        Algum colaborador saiu mais cedo?
    </strong>
    @Html.Raw(cedo)
</div>

<br />
<div>
    <strong>
        Algum colaborador foi advertido verbalmente?
    </strong>
    @Html.Raw(advertencia)
</div>

<br />
<div>
    <strong>
        Algum colaborador se acidentou durante o trabalho?
    </strong>
    @Html.Raw(acidente)
</div>

<br />
<div>
    <strong>
        Deseja adicionar alguma ocorrência?
    </strong>
    @Html.Raw(outro)
</div>

<br />

<div>
    <strong>Descrição: </strong>
    @Html.Raw(Model.Descricao)
</div>

<br />

<div>
    <strong>Anexo: </strong>
    <a href="\Relatorio\Download?filename=@string.Concat(Model.Id.ToString(),"_",Model.Anexo)">@Model.Anexo</a>
</div>

