@model X.PagedList.IPagedList<OcorrenciasDP.Models.OcorrenciaViewModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Http;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Relatório";
}

@{
    string datainicio, datafim, inform;
    int setor;

    inform = "Dados da Pesquisa: ";

    if (ViewBag.Pesquisa.DataInicio != null)
    {
        datainicio = ViewBag.Pesquisa.DataInicio.ToString("yyyy-MM-dd");
        inform = inform + " De:" + ViewBag.Pesquisa.DataInicio.ToString("dd/MM/yyyy") + " ";
    }
    else
    {
        datainicio = "";
    }

    if (ViewBag.Pesquisa.DataFim != null)
    {
        datafim = ViewBag.Pesquisa.DataFim.ToString("yyyy-MM-dd");
        inform = inform + " Até:" + ViewBag.Pesquisa.DataFim.ToString("dd/MM/yyyy") + " ";
    }
    else
    {
        datafim = "";
    }

    if (ViewBag.Pesquisa.Setor != null)
    {
        setor = Int32.Parse(ViewBag.Pesquisa.Setor);
        inform = inform + " Setor:" + ViewBag.NomeSetor;
    }
    else
    {
        setor = 0;
    }
}

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />

@if (TempData["OcorrenciaExcluir"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["OcorrenciaExcluir"]
    </div>
}
@if (TempData["ErroAnexo"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErroAnexo"]
    </div>
}


@if (inform != "Dados da Pesquisa: ")
{
    <div class="alert alert-info" role="alert">
        <strong> @inform </strong>
    </div>
}
<h2>Relatório</h2>
<br />
<form class="form-inline" method="get" asp-controller="Relatorio" asp-action="Filtrar">
    <div class="form-group mb-2">
        <label for="datainicio">Data Início</label>
        <input type="date" name="datainicio" class="form-control-plaintext" id="datainicio" value="@datainicio">
    </div>

    <div class="form-group mb-2">
        <label for="datafim">Data Fim</label>
        <input type="date" name="datafim" class="form-control-plaintext" id="datafim" value="@datafim">
    </div>

    <div class="form-group p-2">
        <label for="setor">Setor</label>
        <select name="setor" id="setor" class="form-control mb-2">
            @foreach (var depto in ViewBag.Setores)
            {
                if (depto.Id == setor)
                {
                    <option value="@depto.Id" selected>@depto.Nome</option>
                }
                else
                {
                    <option value="@depto.Id">@depto.Nome</option>
                }

            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>
<div style=" display: flex;justify-content:flex-end">
    <b>Total de Resultados: </b> @Model.TotalItemCount
</div>
<div>
    <br />
</div>

<table class="table table-hover" id="tabela" style="padding-top: 15px">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Usuario</th>
            <th scope="col">Setor</th>
            <th scope="col">Ocorrência</th>
            <th scope="col">Anexo</th>
            <th scope="col">Detalhar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ocor in Model)
        {


            string classeLinha;

            DateTime ultimoAcesso = DateTime.Parse(Context.Session.GetString("UltimoAcesso"));

            if (ocor.Data.Date >= ultimoAcesso.Date) //Verifica se tem novas ocorrencias desde a data do último acesso
            {
                classeLinha = "success";   //Linha verde
            }
            else
            {
                classeLinha = "";  //Linha sem cor
            }

        <tr class="@classeLinha">
            <th scope="row">@ocor.Id</th>
            <td>@ocor.Data.Date.ToString("dd/MM/yyyy")</td>
            <td>@ocor.Nome</td>
            <td>@ocor.Setor</td>
            @if (ocor.Descricao.Length >= 20)
            {
                <td>@ocor.Descricao.Substring(0, 20)</td>
            }
            else
            {
                <td>@ocor.Descricao</td>
            }



            @if (ocor.Anexo != null)
            {
                <td>
                    <a href="/Relatorio/Download?filename=@string.Concat(ocor.Id.ToString(),"_",ocor.Anexo)" alt="download" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true" alt="@ocor.Anexo"></span>
                    </a>
                </td>
            }
            else
            {
                <td></td>
            }
            <td>
                <a href="/Relatorio/Detalhar?id=@ocor.Id&page=@Model.PageNumber&datafim=@datafim&datainicio=@datainicio&setor=@setor" alt="detalhar" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </td>

            <td>
                <a href="/Relatorio/Excluir/@ocor.Id" alt="excluir" onclick="return confirmaApagar();" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a href="/Relatorio/Filtrar?pdf=true&setor=@setor&datainicio=@datainicio&datafim=@datafim">Gerar relatório em PDF</a>
<!--<input type="button" onclick="cont();" value="Imprimir Div separadamente">-->


@if (datafim != null || datainicio != null || setor != 0)
{

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Filtrar", new { datainicio, datafim, setor, page }))

}
else
{

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

}


@section Scripts{

    <script language="javascript">
        function confirmaApagar() {

            return confirm("Confirma Exclusão?");
        }

        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: "br"
            });
        });

    </script>
}


