@model List<OcorrenciasDP.Models.OcorrenciaViewModel>
@using OcorrenciasDP.Library.Globalization;

@{
    ViewData["Title"] = "Início";
}




@if (TempData["MensagemErroAdmin"] != null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-info-sign"></span>@TempData["MensagemErroAdmin"]
    </div>
}

@if (TempData["AvaliacaoOK"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["AvaliacaoOK"]
    </div>
}

@if (TempData["AvaliacaoNotOK"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["AvaliacaoNotOK"]
    </div>
}

<!--Banner-->
@if (ViewBag.Banner != null)
{

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        @if (ViewBag.Banner.Count > 1)
        {
            <ol class="carousel-indicators">
                @foreach (var imagem in ViewBag.Banner)
                {
                    if (imagem.Ordem == 1)
                    {
                        <li data-target="#myCarousel" data-slide-to="@imagem.Ordem" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@imagem.Ordem"></li>
                    }
                }
            </ol>
        }
        <div class="carousel-inner" role="listbox">

            @foreach (var imagem in ViewBag.Banner)
            {
                if (imagem.Ordem == 1)
                {
                    <div class="item active">
                        <!--Produção-->
                        <img src="@string.Concat("/OcorrenciasDP/images/",@imagem.Path)" alt="@imagem.Nome" class="img-responsive" />

                        <!--Desenvolvimento-->
                        @*<img src="@string.Concat("/images/",@imagem.Path)" alt="@imagem.Nome" class="img-responsive" />*@
                    </div>
                }
                else
                {
                    <div class="item">
                        <!--Produção-->
                        <img src="@string.Concat("/OcorrenciasDP/images/",@imagem.Path)" alt="@imagem.Nome" class="img-responsive" />
                        <!--Desenvolvimento-->
                        @*<img src="@string.Concat("/images/",@imagem.Path)" alt="@imagem.Nome" class="img-responsive" />*@
                    </div>
                }
            }
            @if (ViewBag.Banner.Count > 1)
            {
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            }

        </div>
    </div>
}
<h3> <span class="glyphicon glyphicon-envelope"></span> Mensagens</h3>
<table class="table table-hover" style="padding-top: 15px">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Título</th>
            <th scope="col">Mensagem</th>
            <th scope="col">Detalhar</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Msgs.Count > 0)
        {
            @foreach (Mensagem msg in ViewBag.Msgs)
            {
                <tr>
                    <th scope="row">@msg.Data.Date.ToString("dd/MM/yyyy")</th>
                    <td>@msg.Titulo</td>
                    @if (msg.Conteudo.Length >= 100)
                    {
                        <td>@msg.Conteudo.Substring(0, 100)</td>
                    }
                    else
                    {
                        <td>@msg.Conteudo</td>
                    }
                    <td>
                        <a href="/OcorrenciasDP/Home/DetalharMsg/@msg.Id" type="button" alt="detalhar" value="@msg.Id" id="btnDetalhar"
                           data-valormodal="false" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3> <span class="glyphicon glyphicon-ok"></span>  Últimas Ocorrencias Enviadas</h3>

<table class="table table-hover" style="padding-top: 15px">
    <thead class="">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Descrição</th>
            <th scope="col">Anexo</th>
            <th scope="col">Detahar</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            @foreach (var ocor in Model)
            {
                <tr>
                    <th scope="row">@ocor.Id</th>
                    <td>@ocor.Data.Date.ToString("dd/MM/yyyy")</td>
                    @if (ocor.Descricao.Length >= 100)
                    {
                        <td>@ocor.Descricao.Substring(0, 100)</td>
                    }
                    else
                    {
                        <td>@ocor.Descricao</td>
                    }

                    @if (ocor.Anexo != null)
                    {


                        <td>
                            <a href="\OcorrenciasDP\Home\Download?filename=@string.Concat(ocor.Id.ToString(), "_", ocor.Anexo)" aria-label=""
                               alt="download" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true" alt="@ocor.Anexo"></span>
                            </a>
                        </td>

                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @*

                        *@
                        <button type="button" class="btn btn-default" data-toggle="popover" title="@ocor.Data.Date.ToString("dd/MM/yyyy")"
                                data-content="@ocor.Descricao" data-placement="left">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<!-- Modal Detalhar Mensagem -->
@if (ViewBag.MsgDetalhe != null)
{
    <div class="modal fade" id="modalDetalharMensagem" tabindex="-1" role="dialog" aria-labelledby="modalDetalharMensagemTitulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalDetalharMensagemTitulo">@ViewBag.MsgDetalhe.Titulo</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong>Data: </strong>

                    @Globalization.DataHoraExtensoBR(ViewBag.MsgDetalhe.Data)

                    <br />
                    <br />

                    <strong>Mensagem: </strong>
                    <br />
                    <br />
                    @Html.Raw(ViewBag.MsgConteudo)

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

}

<!-- Modal Nova Mensagem -->
@if (ViewBag.NovaMensagem != null)
{
    <div class="modal fade" id="modalNovaMensagem" tabindex="-1" role="dialog" aria-labelledby="modalNovaMensagemTitulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                @foreach (Mensagem msg in ViewBag.NovaMensagem)
                {
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalNovaMensagemTitulo">@msg.Titulo</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <strong>Data: </strong>
                        @Globalization.DataHoraExtensoBR(msg.Data)
                        <br />
                        <br />
                        <strong>Mensagem: </strong>
                        @{
                            string conteudo = msg.Conteudo.Replace("\r\n", " <br /> ");
                            //string conteudo = msg.Conteudo;
                        }
                        <br />
                        <br />
                        @Html.Raw(conteudo) <!--Para dar quebra de linha-->
                        <br />
                    </div>
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal Avaliação Funcionário -->
@if (ViewBag.Experiencia != null)
{
    <div class="modal fade" id="modalAvaliacaoFunc" tabindex="-1" role="dialog" aria-labelledby="modalAvaliacaoFuncTitulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title" id="modalmodalAvaliacaoFuncTitulo">Avaliação Semanal de Funcionário em Experiência</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="\OcorrenciasDP\Home\Avaliacao\">
                    <div class="modal-body">
                        <input type="hidden" name="funcionario.Id" value="@ViewBag.Experiencia[0].Id" />
                        <div>
                            <strong>Nome: </strong>
                            @ViewBag.Experiencia[0].Nome
                            <br />
                            <strong>Período do Experência: </strong>
                            @string.Concat(Globalization.DataCurtaBR(ViewBag.Experiencia[0].Exp_DataInicio), " à ", Globalization.DataCurtaBR(ViewBag.Experiencia[0].Exp_DataFim))
                            <br />
                            <br />
                        </div>
                        <div>
                            <strong>Nota: </strong>
                            <input class="form-check-input" type="radio" name="nota" id="nota_0" value="0" required>
                            <label class="form-check-label" for="nota_0">0</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_1" value="1" required>
                            <label class="form-check-label" for="nota_1">1</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_2" value="2" required>
                            <label class="form-check-label" for="nota_2">2</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_3" value="3" required>
                            <label class="form-check-label" for="nota_3">3</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_4" value="4" required>
                            <label class="form-check-label" for="nota_4">4</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_5" value="5" required>
                            <label class="form-check-label" for="nota_5">5</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_6" value="6" required>
                            <label class="form-check-label" for="nota_6">6</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_7" value="7" required>
                            <label class="form-check-label" for="nota_7">7</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_8" value="8" required>
                            <label class="form-check-label" for="nota_8">8</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_9" value="9" required>
                            <label class="form-check-label" for="nota_9">9</label>
                            <input class="form-check-input" type="radio" name="nota" id="nota_10" value="10" required>
                            <label class="form-check-label" for="nota_10">10</label>

                            <br />
                            <br />
                        </div>
                        <div>
                            <strong>Comentário: </strong>
                            <textarea class="form-control" name="comentario" id="comentario" rows="5"
                                      placeholder="Insira um comentário aqui..." required></textarea>
                            <br />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="botaoenviar">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
}

@section Scripts{

    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            $('#modalDetalharMensagem').modal('show');
            $('#modalNovaMensagem').modal('show');
            $('#modalAvaliacaoFunc').modal('show');
        });

        $(function () {
            $('[data-toggle="popover"]').popover()
        })

    </script>
}

<!--

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
    -->
