@using OcorrenciasDP.Library.Globalization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Cadastrar Funcionário";
}

@{
    string acao, data;
    int loja, setor, periodo;
    bool experiencia;



    if (ViewBag.Func.Setor != null)
    {
        setor = ViewBag.Func.Setor.Id;
    }
    else
    {
        setor = 0;
    }

    if (ViewBag.Func.Loja != null)
    {
        loja = ViewBag.Func.Loja.Id;
    }
    else
    {
        loja = 0;
    }

    if (ViewBag.Func.Experiencia == 0)
    {
        experiencia = false;
        periodo = 0;
    }
    else
    {
        experiencia = true;

        TimeSpan diff = ViewBag.Func.Exp_DataFim - ViewBag.Func.Exp_DataInicio;
        periodo = diff.Days;
    }

    if (ViewBag.Func.Id != null && ViewBag.Func.Id != 0)
    {
        acao = "/OcorrenciasDP/Funcionarios/Atualizar";
    }
    else
    {
        acao = "/OcorrenciasDP/Funcionarios/Cadastrar";
    }

    if (ViewBag.Func.Exp_DataInicio != null && ViewBag.Func.Exp_DataInicio != DateTime.MinValue)
    {
        data = ViewBag.Func.Exp_DataInicio.ToString("yyyy-MM-dd");
    }
    else
    {
        data = Globalization.HoraAtualBR().ToString("yyyy-MM-dd");
    }


}

<h2>Cadastro de Funcionário</h2>
<br />

<!--Voltar a página-->
<div>
    <a href="javascript:window.history.go(-1)" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
</div>

<br />

<form method="post" action="@acao" style="width:50%">

    <input type="hidden" name="ativo" value="1" />


    <!--Nome-->
    @if (ViewBag.Func.Id != 0)
    {

        <div class="form-group col-md-auto">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="nome" value="@ViewBag.Func.Nome" placeholder="" disabled>
        </div>
    }
    else
    {

        <div class="form-group col-md-auto">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" id="nome" value="@ViewBag.Func.Nome" placeholder="" required>
        </div>

    }


    <!--Loja-->
    <div class="form-group col-md-auto">
        <label for="perfil">Loja</label>
        <select name="loja.id" id="loja" class="form-control mb-2" required>
            @foreach (var loja2 in ViewBag.Lojas)
            {
                if (loja2.Id == loja)
                {
                    <option value="@loja2.Id" selected>@loja2.Nome</option>
                }
                else
                {
                    <option value="@loja2.Id">@loja2.Nome</option>
                }
            }
        </select>
    </div>


    <!--Setor-->
    <div class="form-group p-2">
        <label for="setor">Setor</label>
        <select name="setor.id" id="setor" class="form-control mb-2" required>
            @foreach (var depto in ViewBag.Setores2)
            {
                if (depto.Id == setor)
                {
                    <option value="@depto.Id" selected>@depto.Nome</option>
                }
                else
                {
                    <option value="@depto.Id">@depto.Nome</option>
                }
            }
        </select>
    </div>

    <!--Experiência-->

    <div class="row">
        <div class="col-lg-6">

            @if (experiencia)
            {
                <input type="checkbox" id="cboxExperiencia" aria-label="Experiência" checked>
            }
            else
            {
                <input type="checkbox" id="cboxExperiencia" aria-label="Experiência">
            }
            
            <label for="cboxExperiencia">Experiência?</label>
        </div>
    </div>

    <br />

    <div id="exp_div">

        <!--Data Início-->
        <div class="form-group" style="width:50%">
            <label for="datainicio">Data Início</label>
            <input type="date" name="data" value="@data" class="form-control" id="datainicio">
            <strong style="color:#FF0000">@Html.ValidationMessage("data")</strong>
        </div>

        <!--Período-->
        <label for="periodo">Período</label>
        <div class="input-group col-lg-6">
            <input type="number" min="0" max="1000" class="form-control" id="periodo" value="@periodo">
            <span class="input-group-addon">dias</span>
        </div>

    </div>

    <br />
    <br />
    <button type="submit" class="btn btn-primary" id="botaoenviar">Enviar</button>
    
</form>

<script>

   

    $(document).ready(function () {
        mostrarExperiencia();
    });

    $('#cboxExperiencia').click(function () {
        mostrarExperiencia();
    })

    $('#cboxExperiencia').change(function () {
        mostrarExperiencia();
    })    
    function mostrarExperiencia() {


        if ($('#cboxExperiencia').is(':checked')) {

            $('#exp_div').show();

            $('#datainicio').attr('required', true);
            $('#periodo').attr('required', true);
            $('#exp_div').attr('disabled', false)

        } else {

            $('#exp_div').hide();

            $('#datainicio').attr('required', false);
            $('#periodo').attr('required', false);
            $('#exp_div').attr('disabled', false)

        }
    }

</script>