@model X.PagedList.IPagedList<OcorrenciasDP.ViewModels.FuncionarioViewModel>;
@using X.PagedList.Mvc.Core;
@using OcorrenciasDP.Library.Globalization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    ViewData["Title"] = "Funcionários";
}

<h2>Funcionários</h2>
<br />

<div style="display:flex; justify-content:flex-end">
    <a href="/OcorrenciasDP/Funcionarios/Cadastrar" class="btn btn-success">Cadastrar</a>
</div>

<div style="display:flex;justify-content:space-between">
    <div>
        <form class="form-inline" method="get" action="/OcorrenciasDP/Funcionarios/Filtrar">
            <div class="form-group mb-2">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control-plaintext" id="nome">
            </div>

            @if (ViewBag.Setores != null)
            {
                <div class="form-group p-2">
                    <label for="setor">Setor</label>
                    <select name="setor" id="setor" class="form-control mb-2">

                        @foreach (var setor in ViewBag.Setores)
                        {
                            <option value="@setor.Id">@setor.Nome</option>
                        }

                    </select>
                </div>
            }
            <button type="submit" class="btn btn-primary">Pesquisar</button>
            <button type="reset" class="btn btn-default">Limpar Tela</button>
        </form>
    </div>
</div>

<br />

<div style="display:flex;justify-content:flex-end">

        @if (Model.Count == 1)
        {
            <b>Encontrado 1 Resultado</b>
        }
        else
        {
            <b>Encontrado @Model.Count Resultados</b>
        }

</div>

<table class="table table-hover" style="padding-top: 15px">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Loja</th>
            <th scope="col">Setor</th>
            <th scope="col">Encarregado</th>
            <th scope="col">Experiência?</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var func in Model)
        {
        <tr>
            <th scope="row">@func.Id</th>
            <td>@func.Nome</td>
            <td>@func.Loja</td>
            <td>@func.Setor</td>
            <td>@func.Encarregado</td>

            @if (func.Experiencia == 1)
            {
                <td><font color="red"><strong>Sim</strong></font></td>
            }
            else
            {
                <td>Não</td>
            }
            <td>
                <a href="/OcorrenciasDP/Funcionarios/Atualizar/@func.Id/" value="@func.Id" class="btn btn-warning btn-sm">
                    Alterar
                </a>

                <a href="/OcorrenciasDP/Funcionarios/Excluir/@func.Id/" value="@func.Id" onclick="return confirmaApagar();"
                   class="btn btn-danger btn-sm">
                    Excluir
                </a>
            </td>
        </tr>
        }

    </tbody>
</table>

@section Scripts{

    <script language="javascript">
        function confirmaApagar() {
            return confirm("Confirma Exclusão?");
        }
    </script>

}
