@model X.PagedList.IPagedList<OcorrenciasDP.ViewModels.FuncionarioViewModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using OcorrenciasDP.Library.Globalization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    ViewData["Title"] = "Funcionários";
}

@if (TempData["FuncionarioNotOK"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["FuncionarioNotOK"]
    </div>
}

@if (TempData["FuncionarioOK"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["FuncionarioOK"]
    </div>
}

@{
    string nome;
    int setor_1, loja;

    if (ViewBag.PesquisaNome != null)
    {
        nome = ViewBag.PesquisaNome;
    }
    else
    {
        nome = "";
    }

    if (ViewBag.PesquisaLoja != null)
    {
        loja = ViewBag.PesquisaLoja;
    }
    else
    {
        loja = 0;
    }

    if (ViewBag.PesquisaSetor != null)
    {
        setor_1 = ViewBag.PesquisaSetor;
    }

    else
    {
        setor_1 = 0;
    }

}

<h2>Funcionários</h2>
<br />

<div style="display:flex; justify-content:flex-end">
    <a href="/OcorrenciasDP/Funcionarios/Cadastrar" class="btn btn-success">Cadastrar</a>
</div>

<div style="display:flex;justify-content:space-between">

    <div>
        <form class="form-inline" method="get" action="/OcorrenciasDP/Funcionarios/Filtrar">
            <div class="form-group mb-2">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control-plaintext" id="nome" value="@nome">
            </div>

            @if(ViewBag.Lojas != null)
            {
                <div class="form-group p-2">
                    <label for="loja">Loja</label>
                    <select name="loja" id="loja" class="form-control mb-2">

                        @foreach (var loja2 in ViewBag.Lojas)
                        {
                            if (loja2.Id == loja)
                            {
                                <option value="@loja2.Id" selected>@loja2.Nome</option>
                            }
                            else
                            {
                                <option value="@loja2.Id">@loja2.Nome</option>
                            }
                        }
                    </select>
                </div>

                
            }
            
            @if (ViewBag.Setores != null)
            {

                <div class="form-group p-2">
                    <label for="setor">Setor</label>
                    <select name="setor" id="setor" class="form-control mb-2">

                        @foreach (var depto in ViewBag.Setores)
                        {
                            if (depto.Id == setor_1)
                            {
                                <option value="@depto.Id" selected>@depto.Nome</option>
                            }
                            else
                            {
                                <option value="@depto.Id">@depto.Nome</option>
                            }
                        }

                    </select>
                </div>
            }
            <button type="submit" class="btn btn-primary">Pesquisar</button>
            <button type="reset" class="btn btn-default">Limpar Tela</button>
        </form>
    </div>
</div>

<br />

<div style="display:flex;justify-content:flex-end">

    @if (Model.Count == 1)
    {
        <b>Encontrado 1 Resultado</b>
    }
    else
    {
        <b>Encontrado @Model.Count Resultados</b>
    }

</div>

<table class="table table-hover" style="padding-top: 15px">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Loja</th>
            <th scope="col">Setor</th>
            <th scope="col">Experiência?</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var func in Model)
        {
            <tr>
                <th scope="row">@func.Id</th>
                <td>@func.Nome</td>
                <td>@func.Loja</td>
                <td>@func.Setor</td>

                @if (func.Experiencia == 1)
                {
                    <td><font color="red"><b></b><strong>Sim</strong></font></td>
                }
                else
                {
                    <td>Não</td>
                }

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="/OcorrenciasDP/Funcionarios/Atualizar/@func.Id/" value="@func.Id" class="btn btn-sm">
                                        <b>Alterar</b>
                                    </a>
                                </li>

                                <li>
                                    <a href="/OcorrenciasDP/Funcionarios/Excluir/@func.Id/" value="@func.Id" onclick="return confirmaApagar();"
                                       class="btn btn-sm">
                                        <b>Excluir</b> 
                                    </a>
                                </li>

                                <li>
                                    <a href="/OcorrenciasDP/Funcionarios/Detalhar/@func.Id/" value="@func.Id" onclick=""
                                       class="btn btn-sm">
                                        <b>Detalhar</b>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </td>
            </tr>
        }

    </tbody>
</table>

@if (nome != "" || setor_1 != 0 || loja != 0)
{

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Filtrar", new { nome, setor_1, loja, page }))

}
else
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
}


@section Scripts{

    <script language="javascript">
        function confirmaApagar() {
            return confirm("Confirma Exclusão?");
        }

        $('.dropdown-toggle').dropdown()
        
    </script>



}
